{% extends 'content.html' %}

{% load feincms3 %}

{% block regions %}
<div class="search">
  <form action="" method="get">
    <input type="text" name="q" value="{{search}}"/>
  </form>
</div>
<article class="glossary-list">
  {% for entry in entry_list %}
  <section class="glossary-entry" id="{{entry.slug}}">
    <a href="#{{entry.slug}}">
      <h3>{{entry}}</h3>
    </a>
    <p>{{entry.content}}</p>
  </section>
  {% endfor %}
</article>
{% include 'includes/pagination.html' with page=entry_list%}
<aside>
  Vielleicht ein Inhaltsverzeichnis?
</aside>
{% endblock %}

