{% extends 'content.html' %}

{% load feincms3 %}

{% block regions %}
<div class="search">
  <form action="" method="get">
    <input type="text" name="q" value="{{search}}"/>
  </form>
</div>
<main class="ui section">
  {% for entry in entry_list %}
  <section class="ui segment vertical">
    <a href="#{{entry.slug}}">
      <h3 id="{{entry.slug}}" class="ui header">{{entry}}</h3>
    </a>
    {{entry.rank}}
    <p>{{entry.content}}</p>
  </section>
  {% endfor %}
</main>
{% include 'includes/pagination.html' with page=entry_list%}
<aside>
  Vielleicht ein Inhaltsverzeichnis?
</aside>
{% endblock %}

