{% extends 'content.html' %}

{% load feincms3 i18n %}

{% block regions %}
<div class="controls">
  <form class="filter">
    <div class="field">
      <label for="search">{% trans "Search" %}</label>
      <input type="text" name="search" id="search">
    </div>

    <button type="submit">
      <i title="{% trans 'Search' %}" class="fas fa-search"></i>
    </button>
  </form>
</div>
<article class="glossary-list">
  <div class="entries">
    {% for entry in entry_list %}
    <section class="glossary-entry">
      <a href="#{{entry.slug}}" id="{{entry.slug}}">
        <h3 id="{{entry.slug}}">{{entry}}</h3>
      </a>
      {{entry.content|safe}}
    </section>
    {% empty %}
    {% trans 'Keine Resultate!' %}
    {% endfor %}
  </div>
  <div class="navigation">
    <ul class="toc">
      {% for entry in entry_list %}
      <li>
      <a href="#{{entry.slug}}">
        {{entry}}
      </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% include 'includes/pagination.html' with page=entry_list%}
{% endblock %}
