<section class="cards team">
  {% for membership in team.membership_set.all %}
  <article class="card horizontal">
    {% if membership.person.image %}
    <img src="{{membership.person.image.square}}">
    {% endif %}
    <div class="content">
      <header>
        <div class="name">
        {{membership.person.first_name}}
        <br>
        {{membership.person.last_name}}
        </div>
        <div class="title">
          {{membership.title}}
        </div>
      </header>
      <section>
         {% if membership.person.email %}
         <a href="mailto:{{membership.person.email}}">
           {{membership.person.email}}
         </a>
         {% endif %}
         {% if membership.person.phone %}
         <a href="phone:{{membership.person.phone}}">
           {{membership.person.phone}}
         </a>
         {% endif %}
         <div class="social-media">

           {% if membership.person.facebook %}
           <a href="{{membership.person.facebook}}" class="icon button">
             <i class="fab fa-facebook"></i>
           </a>
           {% endif %}
           {% if membership.person.twitter %}
           <a href="{{membership.person.twitter}}" class="icon button">
             <i class="fab fa-twitter"></i>
           </a>
           {% endif %}
           {% if membership.person.instagram %}
           <a href="{{membership.person.instagram}}" class="icon button">
             <i class="fab fa-instagram"></i>
           </a>
           {% endif %}
         </div>
      </section>
    </div>
  </article>
  {% endfor %}
</section>
