{% load static %}
<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    {{meta_tags}}

    <link rel="stylesheet" type="text/css" href="{% static 'sanitize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'juso.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'collections.css' %}">
    {% include 'category_colors.html' %}

  </head>
  <body>

    <div class="logo"></div>
    <h1>{{page.title}}</h1>

    <article class="collection">
      {% for link in collection.link_set.all %}
      <a href="{{link.target}}" class="link {{link.category.slug}}">{{link.text}}</a>
      {% endfor %}
    </article>

  </body>
</html>
