{% extends "content.html" %}
{% load feincms3 i18n %}

{% block regions %}
{% render_region regions 'main' %}
<nav role="subsites" class="subsites">
{% for child in categorylinking_list %}
<a href="{% if child.other_site %}{{child.other_site.get_absolute_url}}{% else %}{{child.category.get_absolute_url}}{% endif %}" class="nav-item {{child.category.slug}}">
    <img src="{{child.category.get_header_image.square}}">
    <div class="overlay"></div>
    <div class="info">
      <span>{{child.category.name}}</span>
    </div>
  </a>
{% endfor %}
</nav>
{% if edit %}
<a class="button" href="{% url 'admin:pages_page_change' page.pk %}">
  {% trans 'Edit' %}
</a>
{% endif %}
{% endblock %}
