/*
    DJANGO Admin styles
*/

@import url('klima.css');
@import url('darkmode.css');
@import url('variables.css');

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Klima",  sans-serif;
    color: #333;
    background: #fff;
}

.hidden {
  display: none;
}

.inline-controls {
    position: absolute;
    right: 110px;
    top: 17px;
    width: 103px;
}
.order-machine .inline-related > h3[draggable] {
  background-position: 0 9px !important;
}
h3 {
    font-weight: 500 !important;
    line-height: 2.2 !important;
}

.inline-controls {
    position: absolute;
    right: 110px;
    top: 17px;
    width: 103px;
}

.order-machine .delete {
    position: absolute;
    top: 20px;
    right: 17px;
}
.select2-container .select2-selection--single {
    min-height: 25px !important;
    padding-top: 0px !important;
}
.inline-controls {
    right: 120px !important;
    top: 17px !important;
}
.order-machine .delete {
    position: absolute;
    top: 20px !important;
    right: 20px !important;
}

.collapsed h3 {
    margin-bottom: 0.5rem !important;
}

.plugin-button {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
  font-size: 1rem !important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.plugin-button:hover {
  background-color: #0069d9 !important;
}

.cke_chrome {
  max-width: 100%;
}

.order-machine .django-ckeditor-widget {
  width: 100% !important;
}

.order-machine .inline-related {
  border: 1px solid var(--hairline-color, #e8e8e8) !important;
}

.order-machine .inline-related.for-deletion .inline-content, .order-machine .inline-related.collapsed .inline-content {
  display: none;
}

a.inline-deletelink {
    padding: 0px 5px !important;
    margin: 0px !important;
}


.control-unit:not(.plugin-buttons) {
width: 200px;
}

.tabs > .toggle:hover {
  background: white !important;
}

.tabs.regions {
  margin-top: 1em;
}

.fieldBox  {
  width: 100%;
}
