body {
  font-size: 16px;
  font-size: clamp(16px, 2vw, 22px);
  font-family: var(--body-font);
  counter-reset: glossary;
  background-color: var(--background-color);
  color: var(--text-color);
} 

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}

h5 {
  font-style: italic;
}

h4, h5, h6 {
  font-weight: 400;
}
