body.theme-change, body.theme-change .nav-panel {
  transition: all 400ms ease-in-out;
}

body.dark{
  background-color: #262626;
  color: #ffffff;
  --text-color: var(--white);
  --background-color:var(--anthrazit);
  --footer-background-color: black;
  --footer-text-color: grey;
--tamaro-bg-color: var(--anthrazit);
--tamaro-block-header-color: var(--white);
--tamaro-text-color: var(--white);
--tamaro-label-checkable-color: var(--white);
}
body.dark img {
  opacity: .75;
  transition: opacity .5s ease-in-out;
}
body.dark img:hover {
  opacity: 1;
}

.toggle-theme {
  margin: 0 1em;
  font-size: 0.7em;
}

.toggle-theme.light {
  display: none;
}

body.dark .toggle-theme.light {
  display: inherit;
}

body.dark .toggle-theme.dark {
  display: none;
}
