

form.form {
  padding: 0.3rem;
}

@media (min-width: 600px){
  form.form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1em;
  }
}

form.form > .message {
  grid-column: span 12;
  font-size: 0.9rem;
}

form.form > button {
  grid-column: span 12;
  width: 100%;
  font-size: 1em;
}

form .field {
  position: relative;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

.field.one {
  grid-column: span 12;
}

.field.three-fourths {
  grid-column: span 9;
}

.field.two-thirds {
  grid-column: span 8;
}

.field.one-half {
  grid-column: span 6;
}

.field.one-third {
  grid-column: span 4;
}

.field.one-fourth {
  grid-column: span 3;
}

.field > label {
  position: absolute;
  top: -0.5em;
  left: 0.1rem;
  color: var(--text-color);
  display: block;
  font-size: 0.9rem;
}

.field > input[type="checkbox"]{
  width: auto;
  display:  inline;
}

.field > input[type="checkbox"] + label {
  color: var(--text-color);
  display: inline;
  font-size: 1rem;
  position: relative;
  padding-top: 0.7em;
  vertical-align: middle;
}

.field > input[type="checkbox"] + label + small {
  display: block;
  transform: translateY(-0.5em);
}

.field > small, .field > label {
  transition: color 100ms ease-in-out;
  opacity: 0.7;
}


.field > input:focus {
  border-bottom-color: var(--highlight-color);
  outline: none;
}

.field > input:focus + label, .field > input:focus ~ small {
  color: var(--highlight-color);
  opacity: 1;
}

.field > input, .field > select {
  width: 100%;
  background: var(--background-color);
  border: none;
  color: var(--text-color);
  border-bottom: solid var(--text-color) 2px;
  margin-bottom: -0.3rem;
  font-size: 1em;
  padding: 0.3em;
  transition: border 100ms ease-in-out;
  font-family: var(--body-font);
}

.field > small {
	font-size: 0.6em;
  margin-top: 0em;
}

