.hidden.menu {
  display: none;
}

#sidebar-icon {
  display: none;
}
#menu #brand {
  color: #CD1719;
}

.ui.embed.SoundCloud {
  padding-bottom: 21.25%;
}

.ui.embed.muki {
  padding-bottom: 97px;
}

@media only screen and (max-width: 700px) {
  #menu .item,
  #menu .menu {
    display: none;
  }
  #menu #sidebar-icon,
  #menu #brand {
    display: block;
  }
}

.glossary {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
