/*
 * Define Colors
 */
:root {
  --text-color: #000000;
  --primary-color: #ff0000;
  --light-color: #ffffff;
  --container-width: min(1200px, 94vw);
}


/*
 * Basic styles
 */

body {
  font-size: 16px;
  font-size: clamp(16px, 4vw, 22px);
  font-family: 'Open Sans', sans-serif;
  counter-reset: glossary;
} 

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}

h5 {
  font-style: italic;
}

h4, h5, h6 {
  font-weight: 400;
}

h1::after {
  background-color: var(--primary-color);
  width: calc(100% + 2rem);
  height: 0.4rem;
  content: "";
  display: block;
}

a:link,
a:visited {
  color: inherit;
}

.text > p {
  width: 65%;
}


/*
 * Header
 */

header {
  display: flex;
  height: calc(20vh + (5vw - 10px));
}

main, header {
  padding-left: calc((100vw - var(--container-width))/2);
  padding-right: calc((100vw - var(--container-width))/2);
}

header.background-image {
  color: var(--light-color);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: calc(30vh + (10vw - 10px));
}

header.background-image h1::after {
  content: none;
}

header > h1  {
  align-self: flex-end;
  font-size: clamp(42px, 8vw, 55px);
  margin-bottom: 0;
}


/*
 *  Styles for the Glossary
 */

.glossary {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  cursor: help;
}

.glossary::after {
  counter-increment: glossary;
  content: counter(glossary);
  font-size: 0.8rem;
  vertical-align: super;
  text-decoration-line: none;
}

.toggle:checked + .glossary-content > dfn {
  text-decoration-line: underline;
}

.glossary-content {
    float: right;
    clear: right;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -45%;
    font-size: 0.8em;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative; 
    padding-bottom: 1em;
}

.glossary + .toggle {
  display: none;
}

.glossary-content > dfn {
  font-weight: bold;
}

.glossary-content > dfn::before {
  content: counter(glossary);
  font-size: 0.7rem;
  vertical-align: super;
  text-decoration-line: none;
  padding-right: 1px;
}

.glossary-content > dfn::after {
  text-decoration-line: none;
}

@media (max-width: 760px) {
  .glossary-content {
    display: none;
  }
  .text > p {
    width: 100%;
  }

  .toggle:checked + .glossary-content {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; 
  }
}


/** Images with overlay text **/

.wrapper {
   position: relative;
   text-align: center;
   display: block;
   width: 100%;
}


 .wrapper > img {
   width: 100%;
 }

 /* Centered text */
.wrapper > .centered {
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
 }

 .wrapper > .centered > .high {
   background-color: #A8332E;
   padding: 0.5rem 0;
   -webkit-box-shadow: 1rem 0px 0px #A8332E, -1rem 0px 0px #A8332E;
   box-shadow: 1rem 0px 0px #A8332E, -1rem 0px 0px #A8332E;
   -webkit-box-decoration-break: clone;
   -moz-box-decoration-break: clone;
   box-decoration-break: clone;
   line-height: 2em;
 }


 .overlay {
   position: absolute;
   top: 0;
   left: 0;
   background-color:  #A8332E;
   opacity: 0.1;
   width: 100%;
   height: 100%;
 }
