@font-face {
  font-family: Klima;
  src: url('fonts/klima-regular-web.woff2');
}

@font-face {
  font-family: Klima;
  src: url('fonts/klima-bold-web.woff2');
  font-weight: bold;
}

@font-face {
  font-family: Klima;
  src: url('fonts/klima-regular-italic-web.woff2');
  font-style: italic;
}

@font-face {
  font-family: Klima;
  src: url('fonts/klima-bold-italic-web.woff2');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Klima;
  src: url('fonts/klima-ultra-web.woff2');
  font-weight: 900;
}
