:root {
  --red: #eb141f;
  --anthrazit: #262626;
  --violett: #6217AD;
  --green: #3b8632;
  --orange: #FFB100;
  --white: #FFFFFF;

  --first-button: var(--red);
  --second-button: var(--violett);
  --third-button: var(--green);

  --primary-color: var(--red);
  --grey: #aaa;
  --light-color: var(--white);
  --tamaro-primary-color: var(--primary-color);
  --tamaro-bg-color: var(--background-color);
  --tamaro-primary-color__hover: #d52932;

  --text-color: var(--anthrazit);
  --background-color:var(--white);
  --highlight-color: var(--primary-color);

  --footer-background-color: var(--anthrazit);
  --footer-text-color: var(--white);

  --container-width: min(1200px, 94vw);
  --container-outer-width: min(1200px, 100vw);

  --outer-padding: calc((100vw - var(--container-outer-width))/2);
  --inner-padding: calc((100vw - var(--container-width))/2);

  --navbar-height: 60px;
  --navbar-offset: 80px;

  --body-font: 'Klima', sans-serif;
  --title-font: 'Montserrat', sans-serif;
  --button-font: 'Klima', sans-serif;
  --menu-font: 'Klima', sans-serif;

  --menu-weight: 900;
  --button-weight: 900;

  --box-shadow: rgba(0, 0, 0, 0.4) 0 4px 8px;
  --border-radius: 3px;
}
