:root {
  --red: #eb141f;
  --anthrazit: #262626;
  --violett: #6217AD;
  --green: #3b8632;
  --orange: #FFB100;
  --white: #FFFFFF;
  --yellow: #F9C80E;
  --blue: #01BAEF;
  --olive: #A8C686;
  --teal: #08BDBD;
  --purple: #473144;
  --pink: #EE92C2;
  --brown: #352208;
  --grey: #aaa;
  --black: var(--anthrazit);

  --first-button: var(--red);
  --second-button: var(--violett);
  --third-button: var(--green);

  --primary-color: var(--red);
  --light-color: var(--white);
  --tamaro-primary-color: var(--primary-color);
  --tamaro-bg-color: var(--background-color);
  --tamaro-primary-color__hover: #d52932;

  --text-color: var(--anthrazit);
  --background-color:var(--white);
  --highlight-color: var(--primary-color);

  --footer-background-color: var(--anthrazit);
  --footer-text-color: var(--white);

  --container-width: 94vw;
  --container-outer-width: 100vw;

  --outer-padding: calc((100vw - var(--container-outer-width))/2);
  --inner-padding: calc((100vw - var(--container-width))/2);

  --navbar-height: 60px;
  --navbar-offset: 80px;

  --body-font: 'Klima', sans-serif;
  --title-font: 'Montserrat', sans-serif;
  --button-font: 'Klima', sans-serif;
  --menu-font: 'Klima', sans-serif;

  --menu-weight: 900;
  --button-weight: 900;

  --box-shadow: rgba(0, 0, 0, 0.4) 0 4px 8px;
  --border-radius: 3px;
}

.red {
  --primary-color: var(--red);
}

.orange {
  --primary-color: var(--orange);
}

.yellow {
  --primary-color: var(--yellow);
}

.olive {
  --primary-color: var(--olive);
}

.blue {
  --primary-color: var(--blue);
}

.green {
  --primary-color: var(--green);
}


.teal {
  --primary-color: var(--teal);
}
.violett {
  --primary-color: var(--violett);
}

.purple {
  --primary-color: var(--purple);
}

.pink {
  --primary-color: var(--pink);
}


.brown {
  --primary-color: var(--brown);
}

.grey {
  --primary-color: var(--grey);
}

.black {
  --primary-color: var(--black);
}

@media (min-width: 1250px){
  :root {
    --container-width: 1200px;
    --container-outer-width: 1200px;
  }
}

@supports (-ms-ime-align:auto) {
  :root {
    --container-width: 94vw;
    --container-outer-width: 1200px;

    --outer-padding: 2vw;
    --inner-padding: 2vw;

  }
  main {
    max-width: 1200px !important;
    margin-right: auto;
    margin-left: auto;
  }
}
