<form class="form {% if form.errors %}error{% endif %}" action="{{form.form.get_absolute_url}}" id="form-{{form.form.id}}">
  {% if form.non_field_errors %}
  <div class="error message">
    <ul>
      {{form.non_field_errors}}
    </ul>
  </div>
  {% endif %}
  <div class="fields">
  {% for field in form %}
  {% if field.is_hidden %}
  {{field}}
  {% else %}
  <div class="field {{field.field.size}} wide {% if field.errors %}error{% endif %} {% if field.field.required %} required{% endif %}">
    <label>
      {{field.label}}
    </label>
    {{field}}
      <small>{{field.help_text}}</small>
    {% if field.errors %}
    <div class="error message">
      {{field.errors}}
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
  </div>
  <button id="submit_{{form.form.id}}" type="submit" class="button">
    {{form.form.submit}}
  </button>
</form>
