<form class="form {% if form.form.fullwidth %}full{% endif %} {% if form.errors %}error{% endif %}" action="{{form.form.get_absolute_url}}" id="form-{{form.form.id}}">
  {% if form.non_field_errors %}
  <div class="error message">
    <ul>
      {{form.non_field_errors}}
    </ul>
  </div>
  {% endif %}
  {% for field in form %}
  {% if field.is_hidden %}
  {{field}}
  {% else %}
  <div class="field {{field.field.size}} {% if field.errors %}error{% endif %} {% if field.field.required %} required{% endif %}">
    {{field}}
    <label for="{{field.id_for_label}}">
      {{field.label}}
    </label>
    <small>{{field.help_text}}</small>
    {% if field.errors %}
    <div class="error message">
      {{field.errors}}
    </div>
    {% endif %}
    {% endif %}
  </div>
  {% endfor %}
  <button id="submit_{{form.form.id}}" type="submit" class="button field {{form.form.size}}">
    {{form.form.submit}}
  </button>
</form>
