{% extends 'admin/change_form.html' %}
{% load i18n admin_modify %}

{% block content %}
<div id="content-main" class="col-12">
  <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
    {% csrf_token %}
    {% block form_top %}{% endblock %}
    {% if form.errors or form.non_field_errors %}
    <div class="callout callout-danger">
      {% if form.errors|length == 1 %}
      {% trans "Please correct the error below." %}
      {% else %}
      {% trans "Please correct the errors below." %}
      {% endif %}
    </div>
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <i class="icon fa fa-ban"></i>{{ error|capfirst }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <div class="card-title">
              {{ title }}
            </div>
          </div>
          <div class="card-body">
            <fieldset class="module aligned {{ fieldset.classes }}">
              {% for field in form %}
              <div class="row{% if field.is_hidden %} hidden{% endif %} field-{{ field.field.name }}">
                {% if field.is_checkbox %}
                <div class="col-12">
                  {{ field.field }}{{ field.label_tag }}
                </div>
                {% else %}
                <div class="col-12">
                  {{ field.label_tag }}
                </div>
                <div class="col-12">
                  {% if field.is_readonly %}
                  <div class="readonly">{{ field.contents }}</div>
                  {% else %}
                  {{ field }}
                  {% endif %}
                </div>
                {% endif %}
                {% if field.field.help_text %}
                <div class="help">{{ field.field.help_text|safe }}</div>
                {% endif %}
              </div>
              {% endfor %}
            </fieldset>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-edit"></i>
              Aktionen
            </h3>
          </div>
          <div class="card-body">

            <div class="form-group">
              <input type="submit" value="Sichern" class="btn btn-success form-control" name="_save">
            </div>



          </div>
        </div>
      </div>

    </div>
  </form>
</div>
{% endblock %}
