{% load sekizai_tags static %}

{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'sanitize.css' %}">
{% endaddtoblock %}
{% for font in top.get_fonts %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static font %}">
{% endaddtoblock %}
{% endfor %}

{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'variables.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'darkmode.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'testimonials.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'juso.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" media="print" type="text/css" href="{% static 'print.css' %}">
{% endaddtoblock %}

{% addtoblock 'css' %}
{% include 'category_colors.html' %}
{% endaddtoblock %}

{% addtoblock 'js' %}
<script defer src="{% static 'icons.js' %}"></script>
<script defer src="{% static 'fontawesome.min.js' %}"></script>
{% endaddtoblock %}
