{% load sekizai_tags static %}
{% addtoblock 'css' %}
<link href="https://fonts.googleapis.com/css?family=Teko:700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700&display=swap" rel="stylesheet">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/reset.css' %}">
{% endaddtoblock %}

{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/site.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/container.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/grid.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/header.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/image.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/menu.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/input.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/dropdown.css' %}">
{% endaddtoblock %}

{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/divider.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/dropdown.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/segment.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/button.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/transition.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/sidebar.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/list.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/icon.css' %}">
{% endaddtoblock %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'components/breadcrumb.css' %}">
{% endaddtoblock %}

{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'juso.css' %}">
{% endaddtoblock %}
