{% load sekizai_tags static %}
{% addtoblock 'css' %}
<link href="https://fonts.googleapis.com/css?family=Teko:700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700&display=swap" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
{% endaddtoblock %}


{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'juso.css' %}">
{% endaddtoblock %}
