{% load menus i18n %}
{% for main, children in menu|group_by_tree %}
{% if main.in_meta %}
<div class="meta-menu">
  <h4><a href="{{main.get_absolute_url}}">{{main}}</a></h4>
  <div>
    {% for child in children %}
    {% if child.in_meta %}
    <a href="{{child.get_absolute_url}}">
      {{child}}
    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}
<div class="meta-menu">
  <h4>{% trans "Quicklinks" %}</h4>
  <div>
    {% for main, children in quicklinks|group_by_tree %}
    <a href="{{main.get_absolute_url}}">
      {{main}}
    </a>
    {% endfor %}
  </div>
</div>
