{% load menus i18n tools cache %}
{% cache 1200 meta_menu top.pk %}
{% for main, children in menu|group_by_tree %}
{% if main.in_meta %}
<div class="meta-menu">
  <h4><a href="{{main.get_absolute_url}}">{{main.title|nbsp}}</a></h4>
  <div>
    {% for child in children %}
    {% if child.in_meta %}
    <a href="{{child.get_absolute_url}}">
      {{child.title|nbsp}}
    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}
{% if quicklinks %}
<div class="meta-menu">
  <h4>{% trans "Quicklinks" %}</h4>
  <div>
    {% for main in quicklinks|order_by_position %}
    <a href="{{main.get_absolute_url}}">
      {{main.title|nbsp}}
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endcache %}
