{% load menus i18n %}
{% load tools %}
<input type="checkbox" id="fab" autocomplete="off"/>
<label id="fab-button" class="menu-btn" for="fab">
</label>
<div class="nav-panel">
  <div class="buttons">
    {% for button in buttons %}
    <a href="{{button.get_absolute_url}}" class="button">
      <span>
      {{button.title}}
      </span>
    </a>
    {% endfor %}
  </div>
  <div class="small-top-bar">
    {% include 'includes/translations.html' with page=page obj=obj %}
    {% include 'includes/top_navigation.html' with menu=top_menu %}
  </div>
  <div class="menu">
      <a class="branding" href="{{top.get_absolute_url}}">
        <span class="logo" aria-label="{% trans 'Logo' %}">
          {% include 'includes/logo.svg' %}
        </span>
      </a>
    {% for element, children in menu|group_by_tree %}
    <a href="{{element.get_absolute_url}}">{{element.title}}</a>
    {% endfor %}
  </div>
  <div class="small-bottom-bar">
        {% include 'includes/footer_menu.html' with menu=footer %}
  </div>
</div>
