<div class="pagination">
{% if page.has_other_pages %}
  <a class="" href="?page=1">
    &#8676;
  </a>

  {% if page.number|add:'-2' > 1 %}
  <a href="?page={{ page.number|add:'-3' }}">&hellip;</a>
  {% endif %}


  {% for i in page.paginator.page_range %}
  {% if page.number == i %}
  <span>{{ i }}</span> 
  {% elif i > page.number|add:'-3' and i < page.number|add:'3' %}
  <a href="?page={{ i }}">{{ i }}</a>
  {% endif %}
  {% endfor %}

  {% if page.paginator.num_pages > page.number|add:'2' %}
  <a href="?page={{ page.number|add:'3' }}">&hellip;</a>
  {% endif %}

  <a class="" href="?page={{ page.paginator.num_pages }}">
    &#8677;
  </a>
{% endif %}
</div>
