{% extends 'blog/base.html' %}

{% load feincms3 sekizai_tags i18n static %}
{% block structured_data %}
{% include 'blog/structured_data_list.html' %}
{% endblock %}

{% block regions %}
<form class="filter">
  {% for category in category_list %}
  <input
    type="checkbox"
    name="category"
    id="{{category.slug}}"
    value="{{category.slug}}"
    ><label for="{{category.slug}}">{{category}}</label>
    {% endfor %}
    <div class="field">
      <label for="search">{% trans "Search" %}</label>
      <input type="text" name="search" id="search">
    </div>

    <button type="submit">{% trans "Apply" %}</button>
</form>
<div id="notification-area">
<button id="subscribe-button" style="display: none;" class="button">
  {% trans 'Enable Notifications' %}
</button>

<button style="display: none" id="unsubscribe-button" class="button" onclick="disableNotifications();">
  {% trans 'Disable Notifications' %}
</button>
<input type="hidden" id="vapid_public_key" value="{{vapid_public_key}}">
</div>

{% include 'blog/plugins/default.html' with enable_category=True %}
{% include 'includes/pagination.html' with page=article_list%}

{% addtoblock 'js' %}
<script src="{% static 'notification.js' %}"></script>
{% endaddtoblock %}
{% endblock %}
