{% extends 'blog/base.html' %}

{% load feincms3 sekizai_tags i18n static %}
{% block structured_data %}
{% include 'blog/structured_data_list.html' %}
{% endblock %}

{% block regions %}
<div class="controls">
  <form class="filter">
      <div class="field">
        <label for="search">{% trans "Search" %}</label>
        <input type="text" name="search" id="search">
      </div>

      <button type="submit">
      <i title="{% trans 'Search' %}" class="fas fa-search"></i>
      </button>
  </form>
 <div id="notification-area">
    <button alt="" id="subscribe-button" style="display: none;" class="button">
      <i title="{% trans 'Enable Notifications' %}" class="fas fa-bell"></i>
    </button>
    <button style="display: none" id="unsubscribe-button" class="button">
      <i title="{% trans 'Disable Notifications' %}" class="fas fa-bell-slash"></i>
    </button>
    <input type="hidden" id="vapid_public_key" value="{{vapid_public_key}}">
  </div>
</div>

{% include 'blog/plugins/default.html' with enable_category=True %}
{% include 'includes/pagination.html' with page=article_list%}

{% addtoblock 'js' %}
<script src="{% static 'notification.js' %}"></script>
{% endaddtoblock %}
{% endblock %}
