{% extends 'blog/base.html' %}
{% load feincms3 i18n %}

{% block breadcrumbs %}
{% include 'includes/breadcrumbs.html' with obj=article %}
{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://{{page.site.host}}{{page.path}}"
      },
      "author": {
      {% if article.author %}
        "@type": "Person",
        "name": "{{article.author.get_full_name}}"
        {% else %}
        "@type": "Organization",
        "name": "{{top.title}}",
        "logo": {
          "@type": "ImageObject",
          "url": "https://{{page.site.host}}/static/logo.png"
        }
        {% endif %}
      },
      "headline": "{{article.title}}",
      "image": [
        "https://{{page.site.host}}{{article.get_header_image.full}}",
        "https://{{page.site.host}}{{article.get_header_image.square}}",
        "https://{{page.site.host}}{{article.get_header_image.mobile}}",
        "https://{{page.site.host}}{{article.get_header_image.card}}"
       ],
      "datePublished": "{{article.publication_date|date:"c"}}",
      "dateModified": "{{article.edited_date|date:"c"}}",
       "publisher": {
        "@type": "Organization",
        "name": "{{top.title}}",
        "logo": {
          "@type": "ImageObject",
          "url": "https://{{page.site.host}}/static/logo.png"
        }
      }
    }
</script>
{% endblock %}

{% block regions %}
<article class="{{article.category.slug}} article">
  {% render_region regions 'main' %}
</article>
<div class="social-media">
  <header>{% trans "Share" %}</header>
  <a href="https://api.whatsapp.com/send?text={{request.build_absolute_uri}}" class="button small" target="_blank" rel="noreferrer">
    <i aria-hidden="true" class="fas fa-whatsapp"></i>
    WhatsApp
  </a>
  <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri}}" class="button small" target="_blank" rel="noreferrer">
    <i aria-hidden="true" class="fas fa-twitter"></i>
    Twitter
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" class="button small" target="_blank" rel="noreferrer">
    <i aria-hidden="true" class="fas fa-facebook"></i>
    Facebook
  </a>
</div>
{% if edit %}
<a class="button" href="{% url 'admin:blog_article_change' article.pk %}">
  {% trans "Edit" %}
</a>
{% endif %}
{% endblock %}
