<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "Event",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://{{page.site.host}}{{page.path}}"
      },
      "location": {
      {% if event.location.is_physical %}
        "@type": "Place",
        "name": "{{event.location.name}}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{event.location.street}}",
          "addressLocality": "{{event.location.city}}",
          "postalCode": "{{event.location.zip_code}}",
          "addressCountry": "{{event.location.country}}",
          {% if event.location.get_header_image %}
          "photo": "https://{{page.site.host}}{{event.location.get_header_image.full}}",
          {% endif %}
          "url": "https://{{page.site.host}}{{event.location.get_absolute_url}}"
        }
      {% else %}
        "@type": "VirtualLocation",
        {% if event.location %}
        "url": "https://{{page.site.host}}{{event.location.get_absolute_url}}",
        "name": "{{event.location.name}}"
        {% else %}
        "url": "https://{{page.site.host}}{{event.get_absolute_url}}",
        {% endif %}
      {% endif %}
      },
      "eventStatus": "https://schema.org/EventScheduled",
      {% if event.location.is_physical %}
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",

      {% else %}
      "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
      {% endif %}
      "description": "{{event.meta_description}}",
      "name": "{{event.title}}",
      "image": [
        "https://{{page.site.host}}{{event.get_header_image.full}}",
        "https://{{page.site.host}}{{event.get_header_image.square}}",
        "https://{{page.site.host}}{{event.get_header_image.mobile}}",
        "https://{{page.site.host}}{{event.get_header_image.card}}"
       ],
      "startDate": "{{event.start_date|date:"c"}}",
      "endDate": "{{event.end_date|date:"c"}}",
       "organizer": {
        "@type": "Organization",
        "name": "{{top.title}}",
        "url": "https://{{page.site.host}}",
        "logo": {
          "@type": "ImageObject",
          "url": "https://{{page.site.host}}/static/logo.png"
        }
      }
    }
</script>
