{% load jazzmin %}
{% if card %}
<div class="card {{ fieldset.classes|cut:"collapse"|cut:"tabbed" }}">
  <div class="p-3{% if fieldset.name %} card-body{% endif %}">
    {% else %}
    {% if not forloop.first %}
    <div class="card-header">
      <h4 class="my-0">
        <button class="btn btn-link btn-block btn-sm toggle-inline-fieldset" type="button" aria-expanded="true" >
          {{fieldset.name|default:""}}
        </button>
      </h4>
    </div>
    {% endif %}
    <div class="collapse {% if forloop.first %}show{% endif %}">
      <div class="card-body">
        {% endif %}


        <fieldset>
          {% for line in fieldset %}
          {% for field in line %}
          <div class="form-group{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            <div class="form-row">
              <label class="col-sm-12 text-left">
                {{ field.field.label|capfirst }}
                {% if field.field.field.required %}
                <span class="text-red">* </span>
                {% endif %}
              </label>
              <div class="{% if not line.fields|length_is:'1' %} col-auto  fieldBox {% else %} col-sm-12 {% endif %}
                                {% if field.field.name %} field-{{ field.field.name }}{% endif %}
                                {% if not field.is_readonly and field.errors %} errors{% endif %}
                                {% if field.field.is_hidden %} hidden {% endif %}
                                {% if field.is_checkcard %} checkcard-row{% endif %}">
                {% if field.is_readonly %}
                <div class="readonly" style="margin-top: 7px;">{{ field.contents }}</div>
                {% else %}
                {{ field.field }}
                {% endif %}
                <div class="help-block red">
                  {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                </div>
                {% if field.field.help_text %}
                <div class="help-block">{{ field.field.help_text|safe }}</div>
                {% endif %}
                <div class="help-block text-red">
                  {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endfor %}
        </fieldset>

      </div>
    </div>
