<div class="ui three stackable cards">
  {% for testi in testis %}
  <div class="card">
    <div class="image">
      <img class="" src="{{testi.image.square}}">
    </div>
    <div class="content">
      <div class="header">{{testi.first_name}} {{testi.last_name}}</div>
      <div class="meta">{{testi.title}}</div>
      <div class="description">{{testi.statement}}</div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="ui grid">
  <div class="column">
    <a class="ui button primary" href="{{create_url}}">Gib dein eigenes Statement ab</a>
  </div>
</div>
