{% extends "content.html" %}
{% load feincms3 %}

{% block regions %}

<div class="sixteen wide column">
  <div class="ui vertical segment">
    <div class="ui stackable grid">
      <div class="twelve wide column">
      {% render_region regions 'main' %}
      </div>
    </div>
  </div>
  {% for category in featured_categories %}
  <div class="ui vertical segment">
    <h2 class="ui header">
      {{category.name}}
    </h2>
    <div class="ui stackable grid">
      <div class="ten wide column">
        {{category.articles}}
      </div>
      <div class="six wide column">
        {{category.events}}
      </div>
    </div>
    <a href="{{category.get_absolute_url}}">Mehr...</a>
  </div>
  {% endfor %}
  <div class="ui vertical segment">
    {% for category in all_categories %}
    <a href="{{category.get_absolute_url}}">
      {{category}}
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
