{% extends 'content.html' %} 
{% block breadcrumbs %}
{% include 'includes/breadcrumbs.html' with obj=category %}
{% endblock %}

{% block regions %}
<div class="text">
{{description|safe}}
</div>
<div class="articles">
  {% include 'blog/plugins/default.html' with article_list=articles namespace=True %}
  {% include 'includes/pagination.html' with page=articles %}
</div>

<div class="sidebar">
  {% regroup events by start_date|date:"E Y" as month_list %}
  {% for month in month_list %}
  <h3>{{month.grouper}}</h3>
  <section class="month">
    {% for event in month.list %}
    <article class="event">
      <div class="content">
        <a href="{{event.get_absolute_url}}">
          {{event.title}}
        </a>
        <div class="description">
          <a href="{{event.get_absolute_url}}">
            <time datetime="{{event.start_date|date:"c"}}">
              {{event.start_date|date:"d.m. H:i"}}
            </time>-
            <time datetime="{{event.end_date|date:"c"}}">
              {% if event.end_date == event.start_date %}
              {{event.end_date|date:"H:i"}}
              {% else %}
              {{event.end_date|date:"d.m. H:i" }}
              {% endif %}
            </time>
          </a><br/>
          <a href="{{event.location.get_absolute_url}}">
            @{{event.location}}
          </a>
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
  {% endfor %}
</div>

{% endblock %}
