{% load menus %}
{% top_page page as top %}
{% all_menus request.LANGUAGE_CODE top as menus %}
<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{request.site.section}}{% endblock %}</title>
    {% block meta %}
    {{meta_tags}}
    {% endblock %}

    {% block styles %}

    {% endblock %}


  </head>
  <body>
    {% block navigation %}
    <nav>
      <a href="{{top.get_absolute_url}}">{{top.title}}</a>
      <ul>
        {% for main, children in menus.main|group_by_tree %}
        <li><a class="{% if page and main.id in page.tree_path %}active{% endif %}"
               href="{{main.get_absolute_url}}">
            {{main.title}}</a></li>
        {% if children %}
        <ul>
          <nav>
            {% for child in children %}
            <li>
              <a class="{% if page and child.id in page.tree_path %}active{% endif %}"
                 href="{{child.get_absolute_url}}">
                {{child.title}}</a></li>
            {% endfor %}
          </nav>
        </ul>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endblock %}

    {% block header %}
    {% for parent in page.ancestors %}
    {% if forloop.counter > 1 %}
    <i class="far fa-angle-right"></i>
    {% endif %}
    <a href="{{parent.get_absolute_url}}">{{parent.title}}</a>
    {% endfor %}
    <h1>{{page.title}}</h1>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block scripts %}

    {% endblock %}
    <script src="https://kit.fontawesome.com/7655daeee1.js" crossorigin="anonymous">
    </script>
  </body>
</html>
