{% load sekizai_tags static menus feincms3 tools i18n %}
{% top_page page as top %}

{% all_menus request.LANGUAGE_CODE top as menus %}

<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}
      {% if page is not top %}
      {{title|default:page.title}} - {% endif %}
      {{top.title}}
      {% endblock %}</title>

    {% block meta %}
    {{meta_tags}}
    {% endblock %}

    {% include 'includes/base_style.html' %}

    {% render_block 'css' %}


  </head>
  <body class="{{page.category.slug}}">

    {% button_menu request.LANGUAGE_CODE top as buttons %}
    <nav id="mobile-menu">
      {% include 'includes/mobile_menu.html' with menu=menus.main buttons=buttons footer=menus.footer top_menu=menus.top %}
    </nav>

    <nav role="main" class="main" id="mainNavigation">
      <div class="branding">
        <a class="brand" href="{{top.get_absolute_url}}">
          <span class="logo" aria-label="{% trans 'Logo' %}">
          {% include 'includes/logo.svg' %}
          </span>
          <span class="name">
          {{top.title}}
          </span>
        </a>
      </div>
      {% include 'includes/main_navigation.html' with menu=menus.main buttons=buttons %}
    </nav>

    <header
      {% if header_image %}
      style="background-image: url('{{header_image.full}}')"
      class="background-image page"
      {% else %}
      class="container"
      {% endif %}
      >
      <div class="top-bar">
        <nav role="top" class="top">
          {% include 'includes/top_navigation.html' with menu=menus.top %}
          {% include 'includes/translations.html' with page=page obj=obj %}
        </nav>

      <nav role="buttons" class="buttons">
        {% include 'includes/nav_buttons.html' with menu=buttons %}
      </nav>
      </div>

      {% block header %}
      <h1 class="ui primary center aligned header">
        {{title|default:page.title}}
      </h1>
      {% endblock %}
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>


    <footer>
      {% block footer %}
      <nav class="meta">
        {% include 'includes/meta_menu.html' with menu=menus.main quicklinks=menus.quicklink%}
      </nav>

      <nav role="footer" class="footer">
        {% include 'includes/footer_menu.html' with menu=menus.footer %}
      </nav>

      {% render_region regions "footer" %}
      {% endblock %}
    </footer>

    {% render_block 'js' %}

    {% addtoblock 'js' %}
    <script src="{% static 'js.cookie.min.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock 'js' %}
    <script src="{% static 'forms/forms.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock 'js' %}
    <script src="{% static 'theming.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock 'js' %}
    <script src="{% static 'sticky.js' %}"></script>
    {% endaddtoblock %}
  </body>
</html>
