{% load menus tools %}
{% all_menus request.LANGUAGE_CODE top as menus %}
<a class="item {% if page == top %}active{% endif %}" href="{{top.get_absolute_url}}">{{top.title}}</a>
{% for main, children in menus.main|group_by_tree %}
{% if children %}
<div class="ui dropdown item {% if main.id in page.tree_path %}active {% endif %}">
  {{main.title|nbsp}}
  <i class="dropdown icon"></i>
  <div class="menu">
    {% for child in children %}
    <a class="item {% if page and child.id in page.tree_path %}active{% endif %}"
       href="{{child.get_absolute_url}}">
      {{child.title|nbsp}}
    </a>
    {% endfor %}
  </div>
</div>
{% else %}
<a class="item {% if page and main.id in page.tree_path %}active {% endif %}"
   href="{{main.get_absolute_url}}">
  {{main.title|nbsp}}
</a>
{% endif %}
{% endfor %}
