{% load i18n %}
<article class="{{event.category.slug}} card horizontal">
  {% if event.get_header_image %}
  <a class="image" href="{{event.get_absolute_url}}">
    <img src="{{event.get_header_image.card}}" alt="{{event.title}}"/>
  </a>
  {% endif %}
  <div class="content">
    <header class="header"><a href="{{event.get_absolute_url}}">
        {{event.title}}
      </a>
    </header>
    <section>
      <div>
        <time datetime="{{event.start_date|date:"c"}}">
          {{event.start_date|date:"d.m. H:i"}}
        </time>-<time datetime="{{event.end_date|date:"c"}}">
          {% if event.end_date == event.start_date %}
          {{event.end_date|date:"H:i"}}
          {% else %}
          {{event.end_date|date:"d.m. H:i" }}
          {% endif %}
        </time>
      </div>
      <div class="location">
        <a href="{{event.location.get_absolute_url}}">
        {{event.location|default:""}}
        </a>
      </div>
      <div class="description">

      </div>
      <div class="action">
        <label class="button" for="{{event.pk}}_calenders">
          {% trans "add to calendar" %}
        </label>
        <input type="checkbox" id="{{event.pk}}_calenders" class="calendar-toggle">
        <div class="calendar-links">
          <a href="{{event.google_calendar}}" target="_blank">
            <i class="fa fa-google"></i> Google
          </a>
          <a href="{{event.outlook}}" target="_blank">
            <i class="fa fa-microsoft"></i> Outlook
          </a>
          <a href="{{event.ical_link}}" target="_blank">
            <i class="fa fa-calendar"></i> iCal
          </a>
        </div>
        <a href="{{event.location.maps}}" class="button" target="_blank">
          {% trans "route" %}
        </a>
        <a href="{{event.get_absolute_url}}" class="button">
          {% trans "more info" %}
        </a>
      </div>
    </section>
  </div>
</article>
