{% extends 'events/base.html' %}
{% load tools i18n %}

{% block content %}
{% regroup event_list by start_date|date:"E Y" as month_list %}

<section class="filter">
  <a href="?">{% trans "All" %}</a>
  {% if page.sections.exists %}
  {% for section in page.sections.all %}
  <a href="?section={{section.slug}}">{{section}}</a>
  {% endfor %}
  {% endif %}
</section>

<section class="events">
  {% for month in month_list %}
  <h2>{{month.grouper}}</h2>
  <section class="cards events month">
    {% for event in month.list %}
    {% include 'events/event_card.html' %}
    {% endfor %}
  </section>
  {% endfor %}
</section>
<section class="foot">
{% include 'includes/pagination.html' with page=event_list%}
<div class="ical field">
<input type="text" id="ical_url" value="https://{{page.site.host}}{{page.path}}ical/">
  <label for="ical_url">{% trans 'iCal-Link for Google Calendar, etc.:' %}</label>
<small>{% trans 'Subscribe to these events in your calendar-app with this link' %}</small>
</div>
</section>
{% endblock %}
