{% extends 'events/base.html' %}
{% load sekizai_tags tools %}
{% block breadcrumbs %}
{% include 'includes/breadcrumbs.html' with obj=location%}
{% endblock %}

{% block regions %}
{% addtoblock 'js' %}
<script>
  window.__location = JSON.parse("{{location|jsonify|escapejs}}");
  window.__events = JSON.parse("{{location.event_set.all|jsonify|escapejs}}");
</script>
{% endaddtoblock %}

<article class="loaction">
  <address>
    {{location.street}}<br/>
    {{location.zip_code}} {{location.city}}<br/>
  </address>
  {% render_region regions 'main' %}
</article>
<article class="cards events">
  {% for event in location.event_set.all %}
  {% include 'events/event_card.html' %}
  {% endfor %}
</article>
{% endblock %}
