{% extends 'events/base.html' %}
{% load sekizai_tags tools %}
{% block breadcrumbs %}
{% include 'includes/breadcrumbs.html' with obj=location%}
{% endblock %}

{% block regions %}
{% addtoblock 'js' %}
<script>
  window.__location = JSON.parse("{{location|jsonify|escapejs}}");
  window.__events = JSON.parse("{{location.event_set.all|jsonify|escapejs}}");
</script>
{% endaddtoblock %}

<main>
  <address>
    {{location.street}}<br/>
    {{location.zip_code}} {{location.city}}<br/>
  </address>
  {% render_region regions 'main' %}
</main>
<aside class="events">
  {% for event in location.event_set.all %}
  <div class="card">
    {% if event.image %}
    <a class="image" href="{{event.get_absolute_url}}">
      <img src="{{event.image.url}}" alt="{{event.title}}"/>
    </a>
    {% endif %}
    <div class="content">
      <a class="header" href="{{event.get_absolute_url}}">
        {{event.title}}
      </a>
      <a class="meta" href="{{event.get_absolute_url}}">
      </a>
      <a class="description">
      </a>
    </div>
    <div class="extra content">
      {{event.start_date}} - {{event.end_date}}
    </div>
  </div>
  {% endfor %}
</aside>
{% endblock %}
